html {
    background-color: #6b9080;
    font-family: 'Unica One', cursive;
}
h1 {
    text-align: center;
    color: #fcecc9
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: auto;
}

#rules {
    display: flex;
    justify-content: right;
}
#question {
    width: 70%;
    padding: 30px;
    background-color: #114b5f;
    border-radius: 20px;
    text-align: center;
    color: #fcecc9;
    font-size: 28px;
    margin: 10px auto;
}

#answer {
    width: 50%;
    margin: 10px auto;
    color: #fcecc9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size:larger;
}

#answer ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;

}

#answer ul li {
    width: 40%;
    height: 40px;
    background-color: #ca742b;
    padding-top: 15px;
    text-align: center;
    margin: 5px;
    font-weight: bolder;
    border-radius: 50px;
}

#answer ul li:hover {
    background-color: #fcecc9;
    color: #212227;
} 

#scores {
    display: flex;
    width: 15%;
    background-color: #114b5f;
    justify-content: center;
    border-radius: 5px;
    margin: 5px;
}

#player1, #player2 {
    width: 100%;
    background-color: #ca742b;
    margin: 5px;
    text-align: center;
}

#button {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 20px;
    margin: auto;
    background-color: #800020;
    font-size: 20px;

}

#button:hover {
    background-color: red;
}